/.build/
/_build/
/Build
/blib
/sbin

# Carton releated files
/carton.lock
/.carton/
/local/

# Devel::NYTProf related files
nytprof*

# Devel::Cover related files
cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj
/tmp
cpanm

!LICENSE

MYMETA.*

/Sisimai-*

# Under the development
